//===============================
// Navigation ===================
//===============================

.nav {
  margin-top: em(20px);
  margin-bottom: em(30px);

  @include flexbox();
  @include just-con(center);
  @include flex-dir(column);

  @include e(item) {

    list-style: none;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  @include e(item) {
    @extend %nav-item-horz;
    a {
      @extend %nav-item-link;
      color: palette(grey);
      &:hover {
        @extend %nav-item-on;
      }
    }

    @include m(current) {
      @extend %nav-item-horz;
      a {
        @extend %nav-item-link;
        @extend %nav-item-on;
      }
    }

  }
  	@include mq(medium) {
  		margin-bottom: 2em;
      @include flex-dir(row);
      padding: 5px;
  	}

}
